@use '../../abstracts/' as *;
.promoted-items {
  h3 {
    @include sh;
  }
  p {
    @include bn;
  }
  .embla {
    position: relative;
    padding: 2em 1em;
    max-width: 15.625em;
    margin-left: auto;
    margin-right: auto;
    box-sizing: content-box;
    &__viewport {
      overflow: hidden;
      width: 100%;
      box-sizing: content-box;
    }
    &__container {
      display: flex;
      user-select: none;
      margin-left: -2em;
      box-sizing: content-box;
    }
    &__slide {
      position: relative;
      // min-width: 80%;
      padding-left: 2em;
      box-sizing: content-box;

      &__inner {
        position: relative;
        overflow: hidden;
        width: 15.625em;
        height: 15.1875em;
        // it shoudbe the same as in the frame
        box-sizing: content-box;
      }
    }
    a {
      position: absolute;
      display: flex;
      top: 50%;
      left: 50%;
      width: auto;
      min-height: 100%;
      min-width: 100%;
      max-width: none;
      transform: translate(-50%, -50%);
      font-size: inherit;
    }
    .embla__button {
      outline: 0;
      cursor: pointer;
      background-color: transparent;
      touch-action: manipulation;
      position: absolute;
      z-index: 1;
      top: 50%;
      transform: translateY(-50%);
      border: 0;
      width: 1.875em;
      height: 1.875em;
      // width: 30px;
      // height: 30px;
      justify-content: center;
      align-items: center;
      fill: $dark;
      padding: 0;
      font-size: inherit;
    }

    .embla__button:disabled {
      cursor: default;
      opacity: 0.3;
    }

    .embla__button__svg {
      width: 100%;
      height: 100%;
    }

    .embla__button--prev {
      left: -1.2em;
    }

    .embla__button--next {
      right: -1.2em;
    }


    @include breakpoint-up(large-phone) {
      font-size: 1.5rem;
    }
    @include breakpoint-up(medium) {
      font-size: 2rem;
    }
    @include breakpoint-up(large) {
      font-size: 1.25rem;
      // background-color: red;
    }
    @include breakpoint-up(xlarge) {
      font-size: 2rem;
    }
  }
}
