@use '../../abstracts/' as *;

.cards {
  @include l-nfw;
  @include text-margin;
  h2 {
    @include sh;
  }
  // icon row
  .icon-row {
    @include f-space();
    justify-content: space-around;
    width: 100%;
    .icon {
      border-radius: 50%;
      width: 50px;
      height: 50px;
      @include f-center;
      cursor: pointer;
      transition: all 0.4s ease-out;
      svg {
        width: 50%;
        height: 50%;
      }
    }
    .active {
      background-color: $gold;
      color: $whiteish;
    }
    .inactive {
      background-color: none;
      color: $dark;
    }
  }
  &-control {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 550px;
    .second {
      position: absolute;
      top: 0;

      &-hide-right {
        left: 50vw;
        // background-color: red;
      }
      &-hide-left{
        left: -50vw;
        // background-color: red;

      }
      &-show {
        transition: all 0.4s ease-out;
        left: 0;
        // background-color: red;

      }
    }
    .first{
      // transition: all 0.4s ease-in-out;
      &-show{
        opacity:1;
      transition: all 0s ease-in-out;

      }
      &-hide{
        opacity: 0;
      transition: all 0.1s ease-in-out;

      }
    }
  }
}
