@use '../../abstracts/' as *;

.final-cta {
  width: 100%;
  height: 67vw;
  background: linear-gradient(180deg, $dark-trans, $dark-trans),
    url("./images/test-prod.jpg");
  background-size: cover, cover;
  @include f-center(column);
  .text-wrap {
    height: 60%;
    width: 75%;
    @include f-space(column);

    h4 {
      @include th;
      text-align: center;
      color: $whiteish;
    }
  }
}
