@use '../../abstracts/' as *;

.final-cta {
  width: 100%;
  height: 70vw;
  background: linear-gradient(180deg, $dark-trans, $dark-trans),
    url("./images/landing/final-CTA/final-CTA-mobile.jpg");
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;

  @include f-center(column);
  .text-wrap {
    height: 50%;
    width: 80%;
    @include f-space(column);

    h4,
    h3,
    h2 {
      @include sh;
      text-align: center;
      color: $whiteish;
    }
  
    
  }
  @include breakpoint-up(medium) {
    @include l-nfw;
    background: linear-gradient(180deg, $dark-trans, $dark-trans),
    url("./images/landing/final-CTA/final-CTA-desktop.jpg");
  background-size: cover, cover;
  background-position: center, center;
    width: 100%;
    // max-width: 1200px;
    max-height: 800px;
    height: 66vw;
    .text-wrap {
      height:50%;
      max-height: 400px;;
      justify-content: space-around;
    h4,h3,h2{
      @include ph;
      margin-bottom: 1rem;
    }
    p{
      @include lpt();
      text-align: center;
      color: $whiteish;
            margin-bottom: 1rem;

    }
  }
  }
  @include breakpoint-up(xlarge) {
    .text-wrap{
      height: 75%;
      h4,h3,h2{
        font-size: 4rem;

      }
      p{
        font-size: 1.75rem;

      }
    }
 
  }
  @include breakpoint-up(xlarge) {
}}
