@use '../../abstracts/' as *;

@use "first-hero";
@use "promoted";
@use "second-hero";
@use "final-CTA";
@use "card-gallery";
@use "third-hero";
@use "reviews";
@use "review";
@use "cards";


.landing {
  @include f-start(column);
  > * {
    margin-bottom: 3rem;
    @include breakpoint-up(large){
      margin-bottom: 8rem;
    }
    
  }
  > :first-child{
    margin-bottom: 3rem;
  }
  > :last-child{
    margin-bottom: 0;
    
    @include breakpoint-up(medium){
      margin-bottom: 3rem;
    }
   
  }
  
  
  @include breakpoint-down(large){
    h1,h2,h3,h4,p{
      max-width:300px;
    }
  }
  @include breakpoint-up(large){
    h1,h2,h3,h4,p{
      max-width:450px;
    }
  }
}
