@use '../../abstracts/' as *;
.promoted-items {
  @include l-nfw;
  @include text-margin;

  h3 {
    @include sh;
  }
  p {
    @include bn;
    text-align: center;
    color:$gold;
  }
  .promoted-wrapper{
    @include f-center(row);
    justify-content: space-around;
    flex-wrap: wrap;
    >*{
      // width: 300px;
    }
    @include breakpoint-up(medium){
     
      min-width: 700px;
      max-width:1200px;
    }
  }
    
}
