@use '../../abstracts/' as *;

.reviews {
  @include l-nfw;

  &-wrap {
    @include text-margin;
    width: 80%;
    @include l-nfw;

    h2 {
      @include sh;
      color: $dark;
    }
    .embla {
      position: relative;
      // background-color: #f7f7f7;
      width: 100%;
      max-width: 440px;
      margin-left: auto;
      margin-right: auto;
      @include f-center;
      &__viewport {
        overflow: hidden;
        width: 100%;
        &.is-draggable {
          cursor: move;
          cursor: grab;
        }
        &.is-dragging {
          cursor: grabbing;
        }
      }
      &__container {
        display: flex;
        user-select: none;
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -webkit-tap-highlight-color: transparent;
        margin-left: -10px;
      }
      &__slide {
        position: relative;
        flex: 0 0 auto; /* Adapt slide size to its content */
        min-width: 100%;
        padding-left: 10px;
        &__inner {
          position: relative;
          overflow: hidden;
          // height: 340px;
          > * {
            position: absolute;
            display: block;
            top: 0;
            left: 50%;
            width: auto;
            min-height: 100%;
            min-width: 100%;
            max-width: none;
            transform: translateX(-50%);
          }
        }
      }

      &__button {
        outline: 0;
        cursor: pointer;
        background-color: transparent;
        touch-action: manipulation;
        position: absolute;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
        border: 0;
        width: 30px;
        height: 30px;
        justify-content: center;
        align-items: center;
        fill: #1bcacd;
        padding: 0;
        display: none;
      }

      &__button:disabled {
        cursor: default;
        opacity: 0.3;
      }

      &__button__svg {
        width: 100%;
        height: 100%;
      }

      &__button--prev {
        left: 27px;
      }

      &__button--next {
        right: 27px;
      }
    }
  }

  > img {
    display: none;
  }

  @include breakpoint-up(large) {
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width: 1200px;
    &-wrap {
      width: auto;
      min-width: 440px;
      align-items: flex-start;
      h2 {
        text-align: left;
      }
      .embla {
        // background-color: #f7f7f7;
        max-width: 440px;
        margin-left: 0;
        margin-right: 0;
        @include f-center;

        &__button {
          outline: 0;
          cursor: pointer;
          background-color: transparent;
          touch-action: manipulation;
          position: absolute;
          z-index: 1;
          top: 50%;
          transform: translateY(-50%);
          border: 0;
          width: 30px;
          height: 30px;
          justify-content: center;
          align-items: center;
          fill: #1bcacd;
          padding: 0;
          display: none;
        }

        &__button__svg {
          width: 100%;
          height: 100%;
        }

        &__button--prev {
          left: 27px;
        }

        &__button--next {
          right: 27px;
        }
      }
    }

    > img {
      display: block;
      min-width: 250px;
      max-width: 500px;
      height: auto;
      width: 40%;
    }
  }
}
