@use '../../abstracts/' as *;

.second-hero{
  @include f-center(column);
  width:80%;
  // overflow:hidden;
  .text{
  @include f-center(column);
    // padding:2em 1em ;
    width: 80%;
    > * {
      margin-bottom: 2rem;
    }
    h2{
      @include sh();
      text-align: center;
      color: $dark;
    }
    p{
      @include bn();
      text-align: left;
      color:$gold;
    }
  }

  .image-con{
    background: url('./images/ve.svg') no-repeat;
    width:fit-content;
    height: fit-content;
    background-position: center;
    background-size: contain;
    img{
      width:100%;
    }
  }

}