@use '../../abstracts/' as *;

.button {
  border-radius: 0.625em;
  width: 10em;
  height: 2.6875em;
  @include f-center();
  span {
    @include bn;
    font-size: 1.125em;
  }
  // subclasses
  &__red {
    background-color: $red;

    span {
      color: $whiteish;
    }
  }
  &__trans {
    span {
      color: $whiteish;
    }
  }
}

.logo {
  @include logo();
  color: $gold;
  transition: all 0.2s ease-in-out;
  z-index: 10;
}

