@use '../../abstracts/' as *;

.card {

  border-radius: 20px;
  @include f-start(column);
  background-color: $whiteish;
  width: 300px;
  height: 550px;
  .wrap {
    @include f-space(column);
    @include text-margin;
    height: 100%;
    // width: 80%;
    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      margin-top: 3rem;
    }
    .text-wrap {
      width: 75%;
      text-align: center;
      h4 {
        @include th(700);
        color: $dark;
        padding-bottom: 1em;
      }
      p {
        color: $gold;
        @include bn;
      }
    }
  }
}
