@use '../../abstracts/' as *;
.cart {
  cursor: pointer;
  position: fixed;

  width: 4rem;
  height: 4rem;
  background-color: $gold;
  border-radius: 50%;
  z-index: 50;
  @include f-center;
  right: 7.5vw;
  bottom: 10vh;
  > svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
    height: 32px;
    color: $whiteish;
    z-index: 100;
    path {
      stroke: inherit;
    }
    .close{
      color:blue;
    }
  }
  &-overlay {
    overflow: hidden;
    pointer-events: none;
    border-radius: 50%;
    transition: all 1s;
    background-color: rgba(179, 56, 56, 0);
    position: absolute;
    // bottom: -10px;
    // right: -10px;
    &-opened {
      // background-color: rgba(0, 0, 255, 0.644);
      width: 1500px;
      height: 1500px;

      @keyframes shit {
      }
      animation: shit forwards;
    }
    &-closed {
      width: 0px;
      height: 0px;
      @keyframes shit {
      }
      animation: shat forwards;
    }
    .empty-cart{
      @include f-center(column);
  
      p {
        @include th(700);
        padding-bottom:1rem;
        font-size: 1.25rem;
      }
    }
    &-list {
   
      position: inherit;
      right: 50%;
      bottom: 50%;
      pointer-events: auto;
      transform: translate(15%, 10%);
      width: 340px;
      height: 560px;
      max-height: calc(90vh - 50px);
      border-radius: 10px;
      border: 2px solid $gold;
      background-color: $whiteish;
      @include f-space(column);
      padding-bottom: 75px;
      ul{
        width:90%;
        padding-top: 1rem;
        overflow: auto;
        li {
          @include f-space();
          width:95%;
          padding: 0.5rem 0 1rem;
          p {
            @include th(700);
            font-size: 1.25rem;
            max-width: 150px;
          }
          div {
            @include f-space;
            .plus{
              padding: 0.5rem 0.5rem 0.5rem 0.5rem;
            }
            .minus{
              padding: 0.5rem 0.5rem 0.5rem 0.5rem;
            }
            svg {
              box-sizing: content-box;
              height: 1.5rem;
              width:1.5rem;
              cursor: pointer;
            }
            span {
              @include th(700);
              font-size: 1.5rem;
              margin:0 0.25rem;
            }
          }
        }
      }
   a{
     margin: 0.25rem 0;
   }
    }
  }
}
