@use '../../abstracts/' as *;

.frame {
  // ingereting widthj from parent 
  height: 275px;
  width: 275px;
  background-color: $whiteish;
  // overflow: hidden;
  margin: 1rem;
  border-radius: 15px;
  box-shadow: 0 5px 5px 1px hsla(0, 0%, 7%, 10%);
  @include f-start(column);
  background-color: $whiteish;

  &-img {
    position: relative;
    width: 100%;
    // used for hiding hover animation;
    overflow:hidden;
    // border-radius: 20px;

    &-rating {
      position: absolute;
      border-bottom-right-radius: 15px;
      border-top-left-radius: 15px;
      z-index: 10;
      top: 0px;
      left: 0px;
      width: 33%;
      height: 20%;
      background-color: $whiteish;
      @include f-center;
      &-text {
        @include f-center;
        span {
          margin-left: 0.2875em;
          margin-top: 0.0975em;

          line-height: 100%;
          @include bn();
          color: $red;
          font-size: 1.125em;
        }
      }
    }
    &-con{
      border-radius: 20px;
      overflow: hidden;
      height: 184px;

      img {
        width: 100%;
        height: 100%;
        margin-top: 1px;
        transition: 0.4s ease-in-out;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
  &-data {
    @include f-space(row);
    padding: 0.25rem 1rem;
    flex: 1;

    // height: 3.6875em;

    width: 100%;
    &-name {
      width: 70%;
      @include th(700);
      text-align: left;
      font-size: 1.125rem;
      color: $dark;
    }
    &-wrap{
      @include f-space(column);
      width: 30%;

      >svg{
        // icon
        width:24px;
        height: 24px;
        color: $red;

      }
      &-price {
        color: $red;
        margin-bottom:0.5rem;
        @include bn;
        text-align: right;
      }
    }
  }
  // tu bede dawac rozmiary
}
