@use '../../abstracts/' as *;

.product-frame {
  width: 100%;
  height: inherit;
  background-color: $whiteish;
  overflow: hidden;
  margin:1rem;
  border-radius: 10%;
  font-size: 1rem;
  box-shadow: 0 5px 5px 1px hsla(0, 0%, 7%, 10%);
  @include f-center(column);
  .frame-img {
    height: 75%;
    position: relative;
    width: 100%;
    .frame-rating {
      position: absolute;
      border-bottom-right-radius: 10000rem;
      top: 0;
      left: 0;
      width: 33%;
      height: 19%;
      background-color: $whiteish;
      @include f-center;
      .frame-rating-text {
        @include f-center;
        span {
          margin-left: 0.2875em;
          margin-top: 0.0975em;

          line-height: 100%;
          @include bn();
          color:$red;
          font-size: 1.125em;
        }
      }
    }
    img {
      width:100%;
      border-radius: 18%;
     

    }
  }
  .frame-data {
    @include f-space(row);
    padding: 1rem 1rem;
    // height: 3.6875em;

    width: 100%;
    .frame-name {
      width: 70%;
      @include st(700);
      text-align: left;
      font-size: 1.125rem;
      color: $gold;
    }
    .frame-price {
      width: 25%;
      @include bn;
      text-align: right;
      font-size: 1.25rem;
      color: $dark;

    }
  }
  // tu bede dawac rozmiary
}