@use '../../abstracts/' as *;
@use '../../abstracts/' as *;


.header {
  &__checkout{
  // top: 100px;
  nav{
    justify-content: center!important;
    .abs-con, ul{
      display:none!important;
    }
  }
  }
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $whiteish;
  z-index: 100;

  nav{
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    position:relative;
    // hopes thus line dosent break anything

    .go-back{
      position: absolute;
      left:0;
      color:$gold;
      transition: all 0.4s ease-in-out;
      &:hover{
        color: $red;
      }
      svg{
      width:32px;
      height: 32px;
      }
    }
  }
  @include breakpoint-down(medium){
    nav {
      .overlay{
        position:fixed;
        width:100vw;
        height: 100vh;
        top:0;
        left:0;
        display: none;
        z-index:1000;
      }
      // ul for mobile
      ul {
        position: fixed;
        top: calc(50% + 2rem);
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: 0.5s ease-in-out;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        text-align: center;
        li {
          padding: 0 0 3.1875rem 0;
          a {
            text-transform: uppercase;
            @include sh();
            color: $gold;
            transition: color 0.2s ease-in-out;
      
          }
        }
      }
      .logo {
        color: $gold;
      }
      .open {
        // when opened
        background-color: $whiteish;
        box-shadow: 0 0 0 150vw $whiteish, 0 0 0 150vh $whiteish;
        border-radius: 50%;
        span {
          background-color: $gold !important;
        }
        ~ ul {
          // background: red;
          opacity: 1;
          z-index: 2;
          visibility: visible;
          li {
            a {
              color: $gold;
            }
          }
        }
        ~.overlay{
          display: block;
        }
      }
    }
  }
  @include breakpoint-up(medium) {
    transition: all 0.4s ease-in-out;
    



 a{
   color:$gold;
    transition: color 0.4s ease-in-out;
          
 }
    &__trans {
        background: none;

        nav {
          .logo {
            color: $whiteish;
          }
          ul {
            li {
              a {
                color: $whiteish;
                &:hover{
                  color: $red;
                  };
              }
            }
          }
          .menu-icon {
            span {
              background-color: $whiteish;
    transition: all 0.4s ease-in-out;

            }
          }
        }
        .open{
          ~ .logo{
            color:$gold;
    transition: all 0.4s ease-in-out;

          }
        }
      }

    &__full{
      background-color:$whiteish;
      nav {
        .logo {
          color: $gold;
        }
        ul {
          li {
            a {
              color: $gold;
              &:hover{
                color: $dark;
                };
            }
            .cart-header{
              svg{
                color: $gold;
              }
              span{
                color:$whiteish;
              }
            }
          }

        }
        .menu-icon {
          span {
            background-color: $gold;
          }
        }
      }
      .open{
        ~ .logo{
          color:$gold;
        }
      }
    }
  }
    // big screen
    @include breakpoint-up(large) {
      height: 5rem;

      ul {
        //reset
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 60%;
        max-width: 500px;
        li {
          padding: 0 0 0 0;
          a {
            text-transform: uppercase;
            @include bn(600);
           
          }
        }
      }
      .abs-con {
        display: none;
      }
    
    }





    // hamubregr icon
    .abs-con {
      position: relative;
      // background: rgba(0,0,0,0);
      background-color: $whiteish;
      width: 1px;
      height: 1px;
      border-radius: 50%;
      // padding-right: 2rem;
      transition: box-shadow 0.5s ease-in-out;
      order: 3;
      margin-right: 1rem;
          }
    .menu-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1.5rem;
      height: 1rem;
      display: block;
      cursor: pointer;
      // transition: all 0.5s ease-in-out, background-color 0s;
      transform: translate(-50%, -50%);
      z-index: 5;
      // aniamtion of click
      span {
        display: block;
        position: absolute;
        height: 0.2rem;
        width: 1.5rem;
        opacity: 1;
        left: 0;
        background-color: $gold;
        transition: 0.25s ease-in-out;
        transform: rotate(0deg);
      }
      :nth-child(1) {
        top: 0rem;
        transform-origin: left center;
      }
      :nth-child(2) {
        top: 0.5rem;
        transform-origin: left center;
      }
      :nth-child(3) {
        top: 1rem;
        transform-origin: left center;
      }
      &__open {
        :nth-child(1) {
          transform: rotate(45deg);
          top: 0rem;
          left: 0.2rem;
        }
        :nth-child(2) {
          width: 0%;
          opacity: 0;
        }
        :nth-child(3) {
          transform: rotate(-45deg);
          top: 1.05rem;
          left: 0.2rem;
        }
      }
      // outline:1px solid red;
    }
  
  
 
}