@use "variables" as *;
@use "mixins" as *;

// used for logos
// changes ize to 48 when widtgh >= 1024
@mixin logo() {
  font-size: $font-bigger;
  font-family: $font-logo;

  @include breakpoint-up(large) {
    font-size: $font-biggest;
  }
}
// primaty heading
@mixin ph($weight: 600) {
  font-size: $font-biggest;
  font-weight: $weight;
  font-family: $font-ral;
}
// secomdary heading
@mixin sh($weight: 600) {
  font-size: $font-bigger;
  font-weight: $weight;
  font-family: $font-ral;
}

// basic nav, ssub heading
@mixin bn() {
  font-size: $font-md;
  font-weight: 700;
  font-family: $font-lus;
}
// small text
@mixin st($weight: 400){
  font-size: $font-sm;
  font-weight: $weight;
  font-family: $font-lus;
}
// paragraph text
@mixin pt($weight: 400) {
  font-size: $font-md;
  font-weight: $weight;
  font-family: $font-lus;
}
// large paragrapg text
@mixin lpt($weight: 400) {
  font-size: $font-big;
  font-weight: $weight;
  font-family: $font-lus;
}