@use '../../abstracts/' as *;

.background {
  @include f-end(column);
  align-items: center;
  background: url("images/2.jpg") no-repeat;
  width: 100vw;
  height: calc(80vw + 80px);
  background-size: cover;
  background-position: 10% 80%;
  position: relative;
  // i dont want it to count the top margin
  box-sizing: content-box;
  // height of item list
  padding-bottom: 80px;
  margin-bottom: -80px;
  z-index:-5; // used for nav hidden-layer
  .hide-curve {
    // rhis element is used to hide bottom border radius on category list
    position: absolute;
    bottom: 0;
    height: 50px;
    width:100%;
    
    background-color: $whiteish;
  }
  h1 {
    @include ph();
    position: absolute;
    top: 15%;
    color: $whiteish;
  }

  @include breakpoint-up(medium) {
    background: url("images/3.jpg") no-repeat;
    height: calc(66vw + 80px);
    max-height: calc(66vh + 80px);
    background-size: cover;
    background-position: center;
    h1 {
    }
  }
}
