@use '../../abstracts/' as *;

.menu-container{
  width:100%;
  .category{
  width:100%;
   

    &-heading{
      height: 60px;
      background-color: $whiteish;
      @include f-center;
      h2{
        width:100%;
        @include th;
        padding-left: 2.5rem;
        margin-bottom: 0;
        text-align: left;
        display: block;
        text-transform: uppercase;
       
      }
    }
    &-content{
      padding: 1rem;
      display:flex;
      // display: grid;
      // grid-template-columns: repeat(3, 20px);

      width:100%; 
      @include f-center;
      flex-wrap:wrap;
      >a{
        margin:1rem;
      }
      @include breakpoint-up(large){
      @include f-start;

      }
    }
  }


}
// dal mobile center, reszta start