@use '../../abstracts/' as *;

.menu-container{
  width:100%;
  .category{
  width:100%;
   

    &-heading{
      height: 60px;
      background-color: red;
      @include f-center;
      h2{
        width:100%;
        @include th;
        padding-left: 1rem;
        margin-bottom: 0;
        text-align: left;
        display: block;
        text-transform: uppercase;
       
      }
    }
    &-content{
      display:flex;
      width:100%; 
      @include f-center;
      flex-wrap:wrap;
      >a{
        margin:1rem;
      }

    }
  }


}