/* Error: expected "{".
 *     ,
 * 606 |   .contacnt
 *     |            ^
 *     '
 *   src\scss\index.scss 606:12  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 606 \2502    .contacnt\d\a     \2502             ^\a     \2575 \a   src\\scss\\index.scss 606:12  root stylesheet';
}
