/* Error: expected "}".
 *     ,
 * 162 | }
 *     |  ^
 *     '
 *   src\scss\components\global\_header.scss 162:2  @import
 *   src\scss\components\global\_index.scss 1:9     @forward
 *   src\scss\components\_index.scss 3:1            @use
 *   src\scss\index.scss 1:1                        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "}".\a     \2577 \a 162 \2502  }\a     \2502   ^\a     \2575 \a   src\\scss\\components\\global\\_header.scss 162:2  @import\a   src\\scss\\components\\global\\_index.scss 1:9     @forward\a   src\\scss\\components\\_index.scss 3:1            @use\a   src\\scss\\index.scss 1:1                        root stylesheet';
}
