// colors
$dark: #131313;
$grey: #514646;
$white: #fff;
$whiteish: #f3f3f3;
$gold: #a16720;
$red: #801d14;
$yellow: #dda157; // might be replaced

// font sizes

$font-logo: 3rem; //48
$font-heading: 2.25rem;
$font-md: 1.125rem; // 18
$font-sm: 0.875rem; // 14
$font-micro: 0.75rem;

// fonts

$font-ral: "Expletus Sans", cursive;
$font-tetx: "Lusitana", serif;
$font-logo: "Raleway", sans-serif;
