@use "variables.scss" as vars;
@use "mixins" as mix;
@import url("https://fonts.googleapis.com/css2?family=Expletus+Sans&family=Lusitana:wght@400;700&family=Raleway:wght@400;600;700&display=swap");

// reset and basic
html {
  font-size: 100%;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  font-size: 18px;
  font-size: vars.$font-md;
  color: vars.$dark;
}
p {
  line-height: 1.7;
}
a,
a:visited,
a:hover {
  text-decoration: none;
  // color: vars.$whiteish;
}
ul {
  list-style: none;
}
#root {
  height: 2000px;
}
//
//       FLEX         //
//

//
// UNIVERSAL
//
.button {
  border-radius: 10px;
  width: 10rem;
  height: 2.6875rem;
  @include mix.f-center();
  span {
    @include mix.bn;
  }
  // subclasses
  &__red {
    background-color: vars.$red;

    span {
      color: vars.$whiteish;
    }
  }
  &.__trans {
    span {
    }
  }
}

.logo {
  @include mix.logo();
  color: vars.$gold;
  z-index: 10;
}
//
// HEADER
//
.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: vars.$whiteish;

  nav {
    height: 4rem;

    padding: 0 0.6875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    // ul for mobile
    ul {
      position: fixed;
      // background-color: red;
      top: calc(50% + 2rem);
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: 0.5s ease-in-out;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      text-align: center;
      li {
        padding: 0 0 3.1875rem 0;
        a {
          text-transform: uppercase;
          color: vars.$gold;
          @include mix.sh();
        }
      }
    }
    .open {
      // when opened
      background-color: vars.$whiteish;
      box-shadow: 0 0 0 150vw vars.$whiteish, 0 0 0 150vh vars.$whiteish;
      border-radius: 50%;
      + ul {
        // background: red;
        opacity: 1;
        z-index: 2;
        visibility: visible;
      }
    }

    // big screen
    @include mix.breakpoint-up(large) {
      height: 6.25rem;

      ul {
        //reset
        visibility: visible;
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0%, 0%);
        opacity: 1;
        display: flex;
        transition: 0s ease-in-out;
        flex-direction: row;
        justify-content: space-between;
        width: 60%;
        max-width: 500px;
        li {
          padding: 0 0 0 0;
          a {
            color: vars.$gold;
            @include mix.bn();
          }
        }
      }
      .abs-con {
        display: none;
      }
    }

    // hamubregr icon
    .abs-con {
      position: relative;
      // background: rgba(0,0,0,0);
      background-color: vars.$whiteish;
      width: 1px;
      height: 1px;
      border-radius: 50%;
      // padding-right: 2rem;
      transition: box-shadow 0.5s ease-in-out;
    }
    .menu-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1.5rem;
      height: 1rem;
      display: block;
      cursor: pointer;
      // transition: all 0.5s ease-in-out, background-color 0s;
      transform: translate(-50%, -50%);
      z-index: 5;
      // aniamtion of click
      span {
        display: block;
        position: absolute;
        height: 0.2rem;
        width: 1.5rem;
        opacity: 1;
        left: 0;
        background-color: vars.$gold;
        transition: 0.25s ease-in-out;
        transform: rotate(0deg);
      }
      :nth-child(1) {
        top: 0rem;
        transform-origin: left center;
      }
      :nth-child(2) {
        top: 0.5rem;
        transform-origin: left center;
      }
      :nth-child(3) {
        top: 1rem;
        transform-origin: left center;
      }
      &__open {
        :nth-child(1) {
          transform: rotate(45deg);
          top: 0rem;
          left: 0.2rem;
        }
        :nth-child(2) {
          width: 0%;
          opacity: 0;
        }
        :nth-child(3) {
          transform: rotate(-45deg);
          top: 1.05rem;
          left: 0.2rem;
        }
      }
      // outline:1px solid red;
    }
  }
  &__trans {
    @include mix.breakpoint-up(large) {
      background: none;

      .logo {
        color: vars.$dark;
      }
      nav {
        ul {
          li {
            a {
              color: vars.$dark;
            }
          }
        }
      }
    }
  }
}

// landing

// fisrt hero
main {
  margin-top: 4rem;
  @include mix.breakpoint-up(large) {
    margin-top: 100px;
  }
  .first-hero {
    background: url("./images/lading-hero-mobile.jpg") no-repeat ; 
    background-position:  center bottom 100px;
    background-size: cover;
    background-attachment: fixed;
    min-height: 360px;
    height: 50vh;
    width: 100%;
    @include mix.f-center(row);
    .content-wrap{
      width: 80%;
      height: 70%;
      @include mix.f-space(column);
      h1{
        color:vars.$whiteish;
        @include mix.sh;

        text-align:center;
      }
    }
  }
}
.content-wrap{
  @include mix.f-center(column);
}
